<p>Bonjour,</p>
<p>Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous :</p>
<p><a href="{{ resetLink }}">{{ resetLink }}</a></p>
<p>Ce lien est valable 1 heure.</p>
<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce message.</p>
