{% extends 'layout/app.html.twig' %}
{% block title %}Nouvelle organisation{% endblock %}
{% block content %}
    <h1>Nouvelle organisation</h1>
    <form method="post">
        <label>Nom
            <input name="name" required>
        </label>
        <button type="submit">Créer</button>
    </form>
{% endblock %}
