{% extends 'layout/app.html.twig' %}
{% block title %}Hors-ligne{% endblock %}
{% block content %}
    <h1>Vous êtes hors-ligne</h1>
    <p>Vérifiez votre connexion. Les pages déjà visitées restent disponibles.</p>
{% endblock %}
